@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montseratt", sans-serif;
    color: white;
}
/* Navigation css */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

body{
    background-color: #179F97;
    height: 553px;
}

.logo-pic{
    cursor:pointer;
    
}

nav{
    
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}


.nav_links{
    list-style: none;
    
}

.nav_links, .logo-pic, button{
    margin-top: 1em;
}
.nav_links li{
    display: inline-block;
    padding: 0em 2em;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-weight:550;
    font-size: 18px;
}

.nav_links li a:hover{
    color: #0C423F;
}

.contact-button{
    margin-right: 25px;
    margin-left: 20px;
    padding: 10px 30px;
    background-color: #106560;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight:550;
    font-size: 18px;
    color: white
}

.contact-button:hover{
    padding: 12px 32px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight:550;
    font-size: 18px;
    color: #106560;
}

/* Content css */

h1{
    font-weight:bold;
    font-size: 40px;
}



footer{
    background-color: white;
}
footer p{
    margin-top: 5rem;
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

/* Above essential */

.content{
    height: 100%;
    margin-top: 2rem;
}

.contacts, .socmed{
    /* margin-top: 0rem; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.contacts{
    margin-bottom: 5em;
}

.infos span{
    display: block;
    margin-bottom: 5px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

}


.contacts h2, .socmed h2{
    padding-left: 2em;
    margin-bottom: 1em;
    font-size: 40px;
}
